<div>
  <p><b>Name:</b></p>
  <div style="padding-left: 1em;">
    <p>{{ package.name }}</p>
  </div>
</div>
<div>
  <p><b>Description:</b></p>
  <div style="padding-left: 1em;">
    {% for description in package.description %}
    <p>{{ description }}</p>
    {% endfor %}
  </div>
</div>
<div>
  <p><b>Dependencies:</b></p>
  <ul>
    {% for dependency in package.dependencies %}
    <li>

      {% for alternative in dependency %}

      {% if loop.index != 1 %} | {% endif %}

      {% let url = urls.get(alternative.borrow().name.as_str()).unwrap() %}
      {% if url.is_some() %}
      <a href={{url.as_ref().unwrap()}}>{{ alternative.borrow().name.as_str() }}</a>
      {% else %}
      {{ alternative.borrow().name.as_str() }}
      {% endif %}

      {% endfor %}


    </li>
    {% endfor %}
  </ul>
</div>