<div>
  <p><b>Name:</b></p>
  <div style="padding-left: 1em;">
    <p>{{ package.name }}</p>
  </div>
</div>
<div>
  <p><b>Description:</b></p>
  <div style="padding-left: 1em;">
    {% for description in package.description %}
    <p>{{ description }}</p>
    {% endfor %}
  </div>
</div>
<div>
  <p><b>Dependencies:</b></p>
  <ul>
    {% for dependency in package.dependencies %}
      {% for alternative in dependency %}
        <li>{{ alternative }}</li>
      {% endfor %}  
    {% endfor %}
  </ul>
</div>